## Math Counts

## Scrape School Club Locations

In [9]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import os
from geopy.geocoders import GoogleV3
import json
import time
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import colors
from matplotlib.ticker import PercentFormatter
import re

In [30]:
# Get all school clubs from Math Counts website

columns = ["State", "City", "Group Name", "Leader"]
data = []

for page in range(0, 9):
    # 2021 Registered School Based Clubs 
    url = "https://www.mathcounts.org/programs/math-club/registered-school-clubs-list?page=" + str(page) 
    html = requests.get(url).text
    soup = BeautifulSoup(html, "html.parser")
    
    table = soup.find("table", {"class": "views-table"}).find("tbody")
    for row in table.findAll("tr"):
        rowData = row.findAll("td")
        
        data.append([rowData[i].getText().strip() for i in range(4)])

df = pd.DataFrame(data, columns=columns)

In [31]:
df.head()

  State          City                     Group Name           Leader
0    KY    Louisville                   Golden Acorn     Mary Hayward
1    AZ      Glendale                   Copper Creek        Steve Fay
2    TX          Alba  Alba-Golden School (Alba, TX)   Cynthia Weimer
3    WI  Cross Plains              St Francis-Xavier        Dave Mack
4    AL        Lanett      Lanett Junior High School  Tiffenie Dozier

In [32]:
# Clean up group name strings  
df["Group Name (Clean)"] = df["Group Name"].apply(lambda x: re.sub(r"\([^)]+\)", "", x).strip())
df.head()

,State,City,Group Name,Leader,Group Name (Clean)
0,KY,Louisville,Golden Acorn,Mary Hayward,Golden Acorn
1,AZ,Glendale,Copper Creek,Steve Fay,Copper Creek
2,TX,Alba,"Alba-Golden School (Alba, TX)",Cynthia Weimer,Alba-Golden School
3,WI,Cross Plains,St Francis-Xavier,Dave Mack,St Francis-Xavier
4,AL,Lanett,Lanett Junior High School,Tiffenie Dozier,Lanett Junior High School

In [34]:
# Geocode locations as coordinates 
API_TOKEN = None
with open('credentials.json') as f:
    data = json.load(f)
    API_TOKEN = data["API_KEY"]
geolocator = GoogleV3(api_key=API_TOKEN, timeout = 10)

In [51]:
columns = ["State", "City", "Group Name", "Leader", "Group Name (Clean)", "Lat", "Lon"]
data = []

for i, row in df.iterrows():
    name = row["Group Name (Clean)"].lower()
    if not ("school" in name or "academy" in name or "elementary" in name or "mshs" in name or "high" in name or "middle" in name or "ms/hs" in name or "homeschool" in name or "prep" in name):
        location = None
    else: 
        location = geolocator.geocode(row["Group Name (Clean)"] + ", " + row["City"] + ", " + row["State"] + ", US")
        
    if location is None: data.append(list(row) + [None, None])
    else: data.append(list(row) + [location.latitude, location.longitude]) 
    time.sleep(.5) # Sleep to prevent API overload

In [28]:
df = pd.DataFrame(data,columns=["State", "City", "Group Name", "Leader", "Group Name (Clean)","Lat", "Lon"])
df.head()

,State,City,Group Name,Leader,Group Name (Clean),Lat1,Lon1,Lat,Lon
0,KY,Louisville,Golden Acorn,Mary Hayward,Golden Acorn,NaN,NaN,38.096465,-85.855566
1,AZ,Glendale,Copper Creek,Steve Fay,Copper Creek,32.750901,-110.476483,33.684564,-112.210209
2,TX,Alba,"Alba-Golden School (Alba, TX)",Cynthia Weimer,Alba-Golden School,32.752062,-95.582733,32.752062,-95.582733
3,WI,Cross Plains,St Francis-Xavier,Dave Mack,St Francis-Xavier,NaN,NaN,43.119824,-89.634631
4,AL,Lanett,Lanett Junior High School,Tiffenie Dozier,Lanett Junior High School,32.856529,-85.197042,32.856529,-85.197042

In [32]:
df.to_csv("competitions.csv")

In [29]:
# Manually clean these points 
df[df["Lat"].isnull()].shape

(1, 9)

In [19]:
df.shape

(430, 7)

In [20]:
df[df["Lat"].isnull()]

,State,City,Group Name,Leader,Group Name (Clean),Lat,Lon
0,KY,Louisville,Golden Acorn,Mary Hayward,Golden Acorn,NaN,NaN
3,WI,Cross Plains,St Francis-Xavier,Dave Mack,St Francis-Xavier,NaN,NaN
6,TN,Antioch,"Apollo Middle School (Antioch, TN)",Elizabeth Rose,Apollo Middle School,NaN,NaN
7,ID,Lewiston,Cornerstone Christian School,Dena Johnson,Cornerstone Christian School,NaN,NaN
14,CA,Portola Valley,Woodland School,Betsy Zager,Woodland School,NaN,NaN
29,CA,Castro Valley,Creekside Middle School,Isabella Siu,Creekside Middle School,NaN,NaN
30,NJ,Highland Park,Highland Park Middle School,Lizette Lopez,Highland Park Middle School,NaN,NaN
31,MI,Monroe,HIS Homeschool,Jennifer Spencer,HIS Homeschool,NaN,NaN
36,VT,Springfield,Riverside Middle School (Weber),Brian Weber,Riverside Middle School,NaN,NaN
39,TX,Houston,"St. Thomas Episcopal (Houston, TX)",Gordon Sampson,St. Thomas Episcopal,NaN,NaN
43,IL,Elmhurst,Visitation School,Mary Lou Vainisi,Visitation School,NaN,NaN
47,PA,Moosic,Riverside East Elementary,Diane Miller,Riverside East Elementary,NaN,NaN
55,OH,New Carlisle,Tecumseh Middle School,Amy Moore,Tecumseh Middle School,NaN,NaN
58,OH,Independence,St Michael School,Linda Niro,St Michael School,NaN,NaN
59,NM,Roswell,Mesa Middle School,Denise Taylor,Mesa Middle School,NaN,NaN
60,MA,Milton,"Tomorrow, Inc Homeschool",Steven Chang,"Tomorrow, Inc Homeschool",NaN,NaN
63,ID,Boise,Sacred Heart Catholic School,Carol Gado,Sacred Heart Catholic School,NaN,NaN
65,GA,Austell,EPIC Homeschoolers,Andrea Hall,EPIC Homeschoolers,NaN,NaN
69,CA,Ridgecrest,"Murray Middle School (Ridgecrest, CA)",Susan Dahms,Murray Middle School,NaN,NaN
70,MI,Ferndale,Ferndale Middle School (Maes),Tom Maes,Ferndale Middle School,NaN,NaN
73,CT,Woodbridge,"Ezra Academy (Woodbridge, CT)",Denise Bowman,Ezra Academy,NaN,NaN
75,AR,POYEN,6B Mathematicians,Debbie McCrackin,6B Mathematicians,NaN,NaN
80,FL,Panama City,"Covenant Christian School (Panama City, FL)",Angela Feitel,Covenant Christian School,NaN,NaN
81,NE,Omaha,Trinity Classical Academy,Justin Bourgeois,Trinity Classical Academy,NaN,NaN
82,WI,Brooklyn,Holy Family Homeschoolers,Quyen Palenik,Holy Family Homeschoolers,NaN,NaN
90,WV,Morgantown,Trinity Christian School,Carrie Breakey,Trinity Christian School,NaN,NaN
95,NJ,Red Bank,"St James School (Red Bank, NJ)",Christine Lucisano,St James School,NaN,NaN
105,NM,Los Alamos,Mrs. Hettinga's Students,Susan Hettinga,Mrs. Hettinga's Students,NaN,NaN
110,MI,Ada,"Furness Homeschool (Ada, MI)",Meredith Furness,Furness Homeschool,NaN,NaN
112,IL,Chicago,Lazaro Cardenas,Amanda Babb,Lazaro Cardenas,NaN,NaN
...,...,...,...,...,...,...,...
305,OH,Northfield,St. Barnabas School,Rebecca Mittler Pope,St. Barnabas School,NaN,NaN
308,MI,Birmingham,Holy Name,Jeanette Senfftleben,Holy Name,NaN,NaN
311,MS,Long Beach,Long Beach Middle School,TRENA ATTIPOE,Long Beach Middle School,NaN,NaN
313,IN,Elkhart,Trinity Lutheran,Dawn Flatt,Trinity Lutheran,NaN,NaN
318,NV,Reno,DYS Homeschool Co-op (K_Davi),Katie Davi,DYS Homeschool Co-op,NaN,NaN
325,CA,Anza,Hamilton School,Jennifer Halstead,Hamilton School,NaN,NaN
327,IL,chicago,Taylor Elementary School,Elinor Sullivan,Taylor Elementary School,NaN,NaN
336,GA,Cumming,Cornerstone Schools,Jennifer Bartlett,Cornerstone Schools,NaN,NaN
338,VA,Charlottesville,Village School,Tres Wells,Village School,NaN,NaN
346,AL,Five Points,Five Points Elementary School,Mary Spence,Five Points Elementary School,NaN,NaN
353,MD,Beltsville,MLKMS Mathletes,Catherine Abbott,MLKMS Mathletes,NaN,NaN
356,NJ,Oakland,Valley Middle School,Kevin Jacobsen,Valley Middle School,NaN,NaN
359,CO,Thornton,Thornton Middle School (Gilbertson),Holly Gilbertson,Thornton Middle School,NaN,NaN
360,NJ,Edison,Woodrow Wilson Middle School,Deborah Jasper,Woodrow Wilson Middle School,NaN,NaN
363,CA,Mountain View,Springer School,Warren Horowitz,Springer School,NaN,NaN
370,NM,Albuquerque,Grant Middle School,Karen Robinson,Grant Middle School,NaN,NaN
380,NE,Omaha,Holy Name School,James McDermott,Holy Name School,NaN,NaN
387,FL,Fort Walton Beach,Saint Mary,Susan Honsinger,Saint Mary,NaN,NaN
394,CA,Scotts Valley,BCS,Rachel H,BCS,NaN,NaN
395,NJ,Union,St Michael Parish School,Dawn Schugel,St Michael Parish School,NaN,NaN
402,LA,Alexandria,Grace Christian School,Cheri Norton,Grace Christian School,NaN,NaN
404,VA,Fairfax,Trinity Christian School,Michelle Hunt,Trinity Christian School,NaN,NaN
405,CA,Santa Barbara,Monte Vista,Janis Spracher,Monte Vista,NaN,NaN
408,OH,rocky river,Saint Christopher School,Kristin Dudas,Saint Christopher School,NaN,NaN
415,TN,Bolivar,Bolivar Middle School (Sain),Deana Sain,Bolivar Middle School,NaN,NaN
417,IL,Burr Ridge,Trinity Lutheran School (Hammes),Neil Hammes,Trinity Lutheran School,NaN,NaN
419,NJ,Spotswood,Memorial Middle School,Stefanie Bromberg,Memorial Middle School,NaN,NaN
420,MO,Paris,Paris Junior High School,Deb Rinz,Paris Junior High School,NaN,NaN
428,VT,Manchester Center,Manchester Middle School,Scott Diedrich,Manchester Middle School,NaN,NaN
429,MI,Plymouth,East Middle School,Melanie Formosa,East Middle School,NaN,NaN

Location(360 La Cuesta Dr, Portola Valley, CA 94028, USA, (37.402995, -122.19691, 0.0))